@using Assignment03.Models
@model Admin
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Assignment03</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="jumbotron d-flex align-items-center bg-white min-vh-100">
        <div class="container text-center">
            <div class="d-flex justify-content-center form_container mt-4 h-100">
                <form method="post">
                    <div>
                        <input class="form-control" asp-for="UserName" placeholder="User Name"><br />
                    </div>
                    <div>
                        <input class="form-control" asp-for="Password" type="password" name="Password" placeholder="Password"><br />
                    </div>
                    <div class="field-validation-error" asp-validation-summary="ModelOnly"></div>
                    <div>
                        <input class="btn btn-primary" asp-action="LoginAdmin" type="submit" value="LOGIN">
                    </div>
                    <div class="mt-3">
                        <p class="text-info">Login as simple user? <a asp-action="Login"> Login Now!</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>